html,
body {
  padding: 0;
  margin: 0;
  color: white;
  overflow-x: hidden;
}
h1 {
  margin: 40px 0;
}

.contenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #040714;
}

.formulaire {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(7, 1fr);
  grid-template-areas:
    "un un"
    "deux deux"
    "trois trois"
    "quatre quatre"
    "cinq cinq"
    "six six";
}

.un {
  grid-area: un;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.deux {
  grid-area: deux;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.trois {
  grid-area: trois;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.trois :nth-child(2) {
  margin: 10px 0;
}

.quatre {
  grid-area: quatre;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 50px;
}
.quatre :nth-child(1) {
  display: flex;
  flex-direction: column;
}

.quatre :nth-child(2) {
  display: flex;
  flex-direction: column;
}
.cinq {
  grid-area: cinq;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.six {
  grid-area: six;
}

input {
  --input-focus: 245 100% 42%; /*couleur du focus*/
  font-size: inherit;
  transition: 180ms box-shadow ease-in-out;
  font-family: inherit;
  font-size: inherit;
  color: black;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 2px solid silver;
  width: clamp(150px, 50%, 300px);
  height: 2.25rem;
}

input[type="checkbox"]:focus {
  border-color: initial;
  box-shadow: none;
  outline: none;
}

input[type="date"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus {
  border-color: hsl(var(--input-focus));
  box-shadow: 0 0 0 3px hsl(245 100% calc(42% + 40%) / 0.8);
  outline: 3px solid transparent;
}

textarea {
  width: 500px;
  height: 150px;
  padding: 10px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  resize: vertical;
  margin-top: 10px;
}

.select-choice {
  display: flex;
  flex-direction: column;
}
select {
  height: 40px;
}
.formulaire input {
  font-size: inherit;
  font-family: inherit;
  line-height: 1;
  padding: 0 1em;
  /* background-color: #fff; */
  border: 2px solid silver;
  width: clamp(150px, 50%, 300px);
  height: 2.25rem;
  border-radius: 30px;
}

.date {
  display: flex;
  border: 1px solid hsl(0 0% 20%);
  position: relative;
  overflow: hidden;
  border-radius: 0.25rem;
  padding: 1rem 3.5rem 1rem 0.75rem;
  font-size: 1rem;
  color: #555;
  background: #fff url(calendrier.svg) right 9px center no-repeat; /*vous pouvez mettre l'image que vous souhaitez*/
  cursor: pointer;
}
.date::-webkit-datetime-edit-month-field:focus,
.date::-webkit-datetime-edit-day-field:focus,
.date::-webkit-datetime-edit-year-field:focus,
.date::-webkit-datetime-edit-month-field:hover,
.date::-webkit-datetime-edit-day-field:hover,
.date::-webkit-datetime-edit-year-field:hover {
  font-size: inherit;
  color: currentColor;
  background: hsl(248 78% 73%/0.2);
}

::-webkit-datetime-edit-text {
  opacity: 0;
}

.date::-webkit-clear-button,
.date::-webkit-inner-spin-button {
  display: none;
}

.date::-webkit-calendar-picker-indicator {
  position: absolute;
  width: 36px;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
  background: hsl(248 78% 73%);
}

.date:hover::-webkit-calendar-picker-indicator {
  opacity: 0.05;
}
.date:hover::-webkit-calendar-picker-indicator:hover {
  opacity: 0.15;
}

.logo img {
  max-width: 150px;
  margin: 40px;
}

.options {
  display: flex;
}

.checkbox-options,
.radio-options {
  display: flex;
  align-items: center;
}

.checkbox-options label,
.radio-options label {
  display: flex;
  align-items: center;
}

.checkbox-options {
  /* background-color: red; */
}

.radio-options {
  /* background-color: pink; */
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
}
/*************** SWITCH ******/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: background-color 0.3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input[type="checkbox"]:checked + .slider {
  background-color: #4caf50;
  box-shadow: none;
}

input[type="checkbox"]:checked + .slider:before {
  transform: translateX(26px);
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 200px;
  height: 70px;
}

button:hover {
  background-color: #45a049;
}

button:active {
  background-color: #3d8e41;
}

button:focus {
  outline: none;
}

.switch-btn-content {
  /* background-color: yellow; */
  width: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .formulaire {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:
      "un"
      "deux"
      "trois "
      "quatre"
      "cinq"
      "six ";

    /* background-color: #040714; */
    color: white;
  }
  .un,
  .deux,
  .trois {
    flex-direction: column;
  }
  .quatre {
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 50px;
  }
  .quatre :nth-child(1) {
    display: flex;
    flex-direction: column;
  }

  .quatre :nth-child(2) {
    display: flex;
    flex-direction: column;
  }
  .six {
    flex-direction: column;
  }
  .checkbox-options :nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .radio-options :nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  textarea {
    width: 300px;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    resize: vertical;
    margin-top: 10px;
  }
  button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 150px;
    height: 50px;
  }
  input[type="checkbox"],
  input[type="radio"] {
    width: auto;
  }
}
