body {
  margin: 0;
  padding: 0;
  color: white;
}

#site {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 2fr 2fr 1fr 3fr 3fr 2fr 1fr;
  grid-template-areas:
    "un un"
    "deux deux"
    "trois trois"
    "quatre quatre"
    "cinq cinq"
    "six six"
    "footer footer";
  height: 100vh;
}

.un {
  background-color: pink;
  grid-area: un;
  background-image: url(/assets/img/background.jpeg);
}
.un_content {
  display: flex;
  flex-direction: column;
}

.prix-bouttons {
  display: flex;
  flex-direction: row;
}

.prix-bouttons-content {
  display: flex;
  flex-direction: column;
}

.deux {
  background-color: orange;
  grid-area: deux;
  /* margin: auto; */
}

.deux-content {
  display: flex;
  width: 800px;
  margin: auto;
}

.deux img {
  width: 300px;
  height: 200px;
}

.trois {
  background-color: yellowgreen;
  grid-area: trois;
  /* margin: auto; */
}
.trois-content {
  display: flex;
  width: 800px;
  margin: auto;
}
.trois img {
  width: 300px;
  height: 200px;
}

.grille1 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 2fr));
  gap: 20px;
  margin-bottom: 20px;
  grid-template-areas:
    "img-grille1 img-grille2 img-grille3"
    "img-grille4 img-grille5 img-grille6"
    "img-grille7 img-grille8 img-grille9";
}
.grille1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.quatre {
  background-color: cyan;
  grid-area: quatre;
}
.quatre-content {
  margin: auto;
  width: 920px;
  text-align: center;
}

.quatre img {
  width: 300px;
}
.cinq {
  background-color: purple;
  grid-area: cinq;
}
.cinq-content {
  margin: auto;
  width: 920px;
  text-align: center;
}

.cinq img {
  width: 300px;
}
.six {
  background-color: greenyellow;
  grid-area: six;
}
.six-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.appareils {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.six img {
  width: 200px;
}
.icon {
  background-color: red;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

footer {
  grid-area: footer;
  background-color: gray;
}

.footer-content {
  text-align: center;
  margin: auto;
}

.footer-liste ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.btn {
  padding: 0px 44px 0px 44px;
  background: #0063e5;
  border: none;
  color: #f9f9f9;
  align-items: center;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  transition: all 0.2s ease 0s;
  vertical-align: middle;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: inherit;
  height: 50px;
}

.container-img {
  width: 100%;
}

.container-img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .un {
    text-align: center;
  }

  .prix-bouttons {
    display: flex;
    flex-direction: column;
  }

  .deux {
    text-align: center;
  }

  .deux-content {
    flex-direction: column-reverse;
    width: 100%;
    margin: auto;
  }

  .trois-content {
    width: 100%;
  }
  .trois {
    text-align: center;
  }
  .trois-content {
    flex-direction: column;
    margin: auto;
  }

  .grille1 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr));
    grid-column-gap: 10px;
    gap: 20px;
    margin-bottom: 20px;

    grid-template-areas:
      "img-grille1 img-grille2"
      "img-grille3 img-grille4"
      "img-grille5 img-grille6"
      "img-grille7 img-grille8"
      "img-grille9 img-grille9";
  }

  .grille1 .img-grille9 {
    grid-area: img-grille9;
    justify-self: center;
    align-self: end;
  }
}
