body {
  height: 100vh;
  margin: 0;
  padding: 0;
  color: silver;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.2px;
  background-color: #040714;
}

h1,
h2 {
  color: #f9f9f9;
  font-weight: 700;
  letter-spacing: normal;
}
h1 {
  font-size: clamp(20px, 10vw, 44px);
}
h2 {
  font-size: 40px;
}
p {
  font-size: 20px;
  color: #c0c0c0;
  font-family: sans-serif;
}
#site {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 2fr 2fr 2fr 4fr 4fr 2fr 1fr;
  grid-template-areas:
    "un un"
    "deux deux"
    "trois trois"
    "quatre quatre"
    "cinq cinq"
    "six six"
    "footer footer";
  max-width: 100%;
  height: auto;
}

.resilliation p {
  font-size: 12px;
}

nav {
  background-color: #040714;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  position: fixed;
  top: -100px;
  left: 0;
  width: 100%;
  padding: 10px 0;
  transition: top 0.3s ease-in-out;
}
.sticky-nav.visible {
  top: 0;
}
nav ul {
  display: flex;
  padding-right: 70px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.sticky-nav li {
  display: inline-block;
  margin: 0 10px;
}
nav a {
  display: flex;
  justify-items: center;
  text-decoration: none;
}

nav ul li:nth-child(1) {
  background: #0063e5;
  border: none;
  color: #f9f9f9;
  align-items: center;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  transition: all 0.2s ease 0s;
  vertical-align: middle;
  font-weight: 400;
  letter-spacing: 1px;
  width: 130px;
  height: 50px;
}

nav ul li:nth-child(2) {
  background: rgba(0, 0, 0, 0.8);
  border: none;
  border: 1px solid silver;
  color: #f9f9f9;
  align-items: center;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  transition: all 0.2s ease 0s;
  vertical-align: middle;
  font-weight: 400;
  letter-spacing: 1px;
  width: 130px;
  height: 50px;
  margin-left: 5px;
  transition: all 0.2s ease 0s;
}

nav li {
  padding-right: 10px;
}
.un {
  grid-area: un;
  background-image: url(/assets/img/background.jpeg);
  display: flex;
  align-items: center;
  padding-left: 40px;
}

.un_content {
  display: flex;
  flex-direction: column;
  width: 400px;
}
.sous-titre {
  color: white;
  font-size: 20px;
}

.un .logo1 img {
  width: 80px;
}

.prix {
  color: white;
}
.prix-bouttons {
  display: flex;
  flex-direction: row;
}

.prix-bouttons p {
  font-size: 12px;
}

.prix-bouttons span:nth-child(2) {
  font-size: 12px;
}

.prix-bouttons p {
  font-size: 12px;
}

.prix-bouttons-content {
  display: flex;
  flex-direction: column;
}

.deux {
  /* background-color: orange; */
  grid-area: deux;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deux-content {
  display: flex;
  align-items: flex-end;
  margin: auto;
}

.deux-content:nth-child(1) {
  width: 800px;
}
.deux img {
  width: 400px;
  height: 250px;
  object-fit: cover;
}

.trois {
  /* background-color: yellowgreen; */
  grid-area: trois;
  display: flex;
  justify-content: center;
  align-items: center;
}
.trois-content {
  display: flex;
  align-items: flex-end;
  width: 100%;
  margin: auto;
}
.trois-content:nth-child(1) {
  width: 800px;
}

.trois li {
  list-style: none;
}
.trois img {
  width: 400px;
  height: 250px;
  object-fit: cover;
}

.grille1 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 10px;

  margin: 200px 0px;
  grid-template-areas:
    "img-grille1 img-grille2 img-grille3"
    "img-grille4 img-grille5 img-grille6"
    "img-grille7 img-grille8 img-grille9";
}
.grille1 img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.quatre {
  /* background-color: cyan; */
  grid-area: quatre;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quatre-content {
  margin: auto;
  width: 100%;
  text-align: center;
}

.quatre img {
  width: 300px;
}
.cinq {
  /* background-color: purple; */
  grid-area: cinq;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cinq-content {
  margin: auto;
  width: 100%;
  text-align: center;
}

.cinq img {
  width: 300px;
}
.six {
  /* background-color: greenyellow; */
  grid-area: six;
  display: flex;
  justify-content: center;
  align-items: center;
}
.six-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.appareils {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.six img {
  width: 200px;
  object-fit: cover;
}
.icon {
  /* background-color: red; */
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  font-size: 18px;
}

footer {
  grid-area: footer;
  background-color: #040714;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  text-align: center;
  margin: auto;
  font-size: 12px;
}
.footer-content p {
  font-size: 12px;
}

.footer-liste ul {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

footer li {
  list-style: none;
  margin-right: 10px;
}
footer a {
  text-decoration: none;
  color: #c0c0c0;
}
footer a:hover {
  color: white;
}
.logo2 img {
  width: 80px;
}
.btn {
  padding: 0px 44px 0px 44px;
  background: #0063e5;
  border: none;
  color: #f9f9f9;
  align-items: center;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  transition: all 0.2s ease 0s;
  vertical-align: middle;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: inherit;
  height: 50px;
}

.container-img {
  width: 100%;
}

.container-img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 930px) {
  .un {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .prix-bouttons {
    display: flex;
    flex-direction: column;
  }

  .deux {
    text-align: center;
  }

  .deux-content {
    flex-direction: column-reverse;
    width: 100%;
    margin: auto;

    align-items: center;
  }

  .trois {
    text-align: center;
  }
  .trois-content {
    flex-direction: column;
    margin: auto;
    width: 100%;
    align-items: center;
  }

  .quatre {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cinq {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .six-content {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .appareils {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .six img {
    width: 200px;
  }
  .grille1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 5px;
    margin-bottom: 20px;

    grid-template-areas:
      "img-grille1 img-grille2"
      "img-grille3 img-grille4"
      "img-grille5 img-grille6"
      "img-grille7 img-grille8"
      "img-grille9 img-grille9";
  }

  .grille1 .img-grille9 {
    grid-area: img-grille9;
    justify-self: center;
    align-self: end;
  }
}
